[package]
name = "gonk"
version = "0.1.0"
edition = "2021"
default-run = "gonk"

[dependencies]
tui = "0.18.0"
crossterm = "0.23.2"
unicode-width = "0.1.9"
rayon = "1.5.3"
gonk-player = {path = "../gonk-player"}
gonk-database = {path = "../gonk-database"}
optick = "1.3.4"
